<!--% @users.each do |user| % -->
<div class="row">
	<div class="large-8 columns">
		<%= link_to h user_path(user.id) do %>
		<ul>
		<h3><b><%= user.name %></b>	</h3>
		  <p><b>Comfort:</b>
			<br />
		 	<%= user.tag_list.map {|t| link_to t, tag_path(t)}.join(', ').html_safe %></p>
		<%= button_to "Add Friend", friendships_path(friend_id: user), method: :post %>
		</ul>
		<% end %>
	</div>
	<div class="large-4 columns">
	</div>
</div>		
<!--% end % -->	