<h1>Welcome!</h1>
<p> <%= link_to "Quiz", "/quizzes/new" %> </p>
<img src="http://media-cache-ak0.pinimg.com/736x/9c/63/a9/9c63a90de4820c2a4eb54aff04287f05.jpg">

<img src="http://media-cache-cd0.pinimg.com/736x/8e/82/06/8e8206c038ca73ba99cd256a36df723f.jpg">