body {
	background:url(http://bglabs.evade.netdna-cdn.com/files/dandelions-vector-background-1396.png);	
	opacity: 0.9;	
}

.welcome-image-1 {
	margin:1rem;
	padding:1px;
    border:2px solid #000080;
   
}


.welcome-image-2 {
	margin:1rem;
	padding:1px;
    border:2px solid #000080;
   
}


/*img {
	display: block;
	margin: 0px, auto;
*/