// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome-image-1 {
	margin: 0rem;
	padding:1px;
    border:1px solid #021a40;
    
}

.welcome-image-2 {
	margin: 2rem
}
