<h1>About</h1>

<h3>This is Uncomfort Yourself. </h3>
<p>Life begins at the end of your comfort zone.<br>-Neale Donald Walsch</p>

<p>We are a group of three ladies who attended a programming bootcamp in Toronto called Bitmaker Labs. We created Uncomfort Yourself as our final project.</p>

<p>The idea is simply to give people the help they need to step out of their comfort zones. On your own, it is hard to stand up to your fears and the things that make you uncomforable. But within a community of people who are also trying to expand their comfort zone and break free from fearful thinking that is holding them back it becomes easier to accomplish. <br>The quiz helps you discover how resistant you are to leavig your comfort zone.</p>