<h1>About</h1>

<h3>This is Uncomfort Yourself. </h3>
<p>Life begins at the end of your comfort zone.<br>-Neale Donald Walsch</p>

<p>We are a group of three ladies in our final week at a programming bootcamp in Toronto called Bitmaker Labs. We're creating Uncomfort Yourself as our final project.</p>

<p>The idea is simply to give people the help they need to step out of their comfort zones. We will (hopefully) have a community of people to support each other in their quests to uncomfort themselves.</p>