<div class="row">
	<div class="large-12 columns">
		<h1>About</h1>
		<h3>This is Uncomfort Yourself. </h3>
		<h3>Life begins at the end of your comfort zone.<br>-Neale Donald Walsch</h3>

	</div>
</div>

<div class="row">
		<div class="large-offset-3 large-6 large-offset-3 columns">
			<div class="welcome-image-2">
				<img src="http://media-cache-cd0.pinimg.com/736x/8e/82/06/8e8206c038ca73ba99cd256a36df723f.jpg">
			</div>
		</div>
	</div>

<div class="row">
	<div class="large-12 columns">

		<p>We are a group of three ladies who attended a programming bootcamp in Toronto called Bitmaker Labs. We created Uncomfort Yourself as our final project.</p>

		<p>The idea is simply to give people the help they need to step out of their comfort zones. On your own, it is hard to stand up to your fears and the things that make you uncomforable. But within a community of people who are also trying to expand their comfort zone and break free from fearful thinking that is holding them back it becomes easier to accomplish. <br>The quiz helps you discover how resistant you are to leaving your comfort zone.</p>

		<p><b>Read about what others have to say about breaking out of their comfort zones.</b></p>
		<p>“Coming out of your comfort zone is tough in the beginning, chaotic in the middle, and awesome in the end...because in the end, it shows you a whole new world !! Make an attempt..” <br/>
			― Manoj Arora, From the Rat Race to Financial Freedom</p>
			<p>“You know something, it’s not easy to break out of your comfort zone. People will tear you down, tell you you shouldn’t have bothered in the first place. But let me tell you something, there’s not much of a difference between a stadium full with cheering fans and an angry crowd screaming abuse at you. They’re both just making a lot of noise. How you take it is up to you. Convince yourself they’re cheering for you. You do that, and someday, they will.” <br/>
				― Glee</p>
				<p>The best piece of advice someone has ever given me was 'do it scared.' And no matter if you're scared, just go ahead and do it anyway because you might as well do it scared, so it will get done and you will feel so much better if you step out of your comfort zone.<br />
					- Sherri Shepherd</p>		


				</div>
			</div> 
		</div>
	</div> 



