<div class="row">
	<div class="large-offset-2 large-8 large-offset-2 columns">
<h1>Contact Us</h1>
<p>You may send all requests and queries to uncomfortyourself@gmail.com </p>
<p>We will respond with due diligence at our earliest convenience.</p>
<p>Thank you!</p>

</div>
</div>