<h1>Frequently Asked Questions</h1>

<p>What does Uncomfort Yourself do?</p>
<p>What are the benefits of using Uncomfort Yourself?</p>
<p>How much does it cost to use Uncomfort Yourself?</p>
<p>What does Uncomfort Yourself do with my data?</p>
   <p>We probably need some sort of privacy policy...</p>
   <p>And maybe Terms of Service... nothing big</p>
<p></p>