<h1>Frequently Asked Questions</h1>

<h3>What does Uncomfort Yourself do?</h3>
<p>Uncomfort Yourself provides people with ... </p>

<h3>What are the benefits of using Uncomfort Yourself?</h3>
<p>Using Uncomfort Yourself (helps in these ways... science) </p>

<h3>How much does it cost to use Uncomfort Yourself?</h3>
<p>Uncomfort Yourself is free to use. </p>

<h3>What does Uncomfort Yourself do with my data?</h3>
<p>We at Uncomfort Yourself will never sell or rent your data to anyone for any reason. It's your data not ours. For more information see our privacy policy.</p>

