<h1>Frequently Asked Questions</h1>

<h3>What does Uncomfort Yourself do?</h3>
<p>Uncomfort Yourself is a resource to help people break out of their comfort zones. You are presented a quiz that evaluates your comfort zone and your likelihood to leave said comfort zone. The quiz also evaluates whether the things that make you uncomfortable are more physically or emotionally based. Uncomfort Yourself also provides people with a community to provide each other support in expanding their comfort zones. </p>

<h3>What are the benefits of using Uncomfort Yourself?</h3>
<p>Stepping out of your comfort zone can enhance your productivity. It has been demonstrated that people perform best not when they feel stress free and comfortable, but instead when they are under pressure. Leaving your comfort zone is the only way to expand your comfort zone. Becoming familiar with the unfamiliar and what not. </p>

<h3>How much does it cost to use Uncomfort Yourself?</h3>
<p>Uncomfort Yourself is free to use. </p>

<h3>What does Uncomfort Yourself do with my data?</h3>
<p>We at Uncomfort Yourself will never sell or rent your data to anyone for any reason. It's your data not ours. For more information see our privacy policy.</p>

